/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive Level #1
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 50em) {
	html {
		font-size: 1.125rem; /*18px*/
		background-image: none !important;
	}

	body {
		line-height: 1.2rem;
	}

	#container {
		margin: 0;
		border-right: none;
		border-left: none;
	}
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive Level #2
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 37.5em) {
	main, #main-header > div {
		padding: 1rem;
	}

	#main-navi {
		padding: 0.25rem 1rem;
	}

	#main-navi a {
		border: 0.05rem solid transparent;
	}

	#main-navi a:hover, #main-navi a:focus {
		border: 0.05rem solid #BBB;
	}

	#main-navi > ul {
		display: none;
		float: none;
	}

	#main-navi > ul > li a {
		display: block;
		text-align: left;
		padding: 0 0.25rem;
	}

	#main-navi {
		overflow: hidden;
	}

	#toogle-nav-label {
		display: block;
	}

	#toogle-nav:checked + ul {
		display: block;
	}

	#main-navi li:last-child {
		float: none;
	}

	.item > header {
		text-align: center;
	}

	.item > header > h2,
	.item > header > .info {
		float: none;
		display: block;
	}
}
