@charset "UTF-8";
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Content background and border color
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Header and navigation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Text colors
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Misc
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Forms
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Form buttons
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Information message box
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Scrollbars
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Import stylesheet
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Import variables
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Line height
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font families
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Text font sizes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Heading font sizes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Content widths
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Selection
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
::selection {
  background: #BBB;
  color: #000;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Placeholders
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
::placeholder {
  color: #8D9AA7;
  opacity: 0.5;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Scrollbars
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
* {
  scrollbar-color: #838994 #2E3440;
}
*::-webkit-scrollbar {
  width: 0.75rem;
}
*::-webkit-scrollbar-track {
  background: #2E3440;
}
*::-webkit-scrollbar-thumb {
  background: #838994;
  background-clip: padding-box;
  border: 0.15rem solid transparent;
}
*::-webkit-scrollbar-thumb:hover {
  background: #4C566A;
  background-clip: padding-box;
  border: 0.15rem solid transparent;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Hyperlinks
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a {
  color: #5EA4D3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  background: #42474E;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Headings
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h1, h2, h3 {
  margin-bottom: 0;
}
h1 + p, h2 + p, h3 + p {
  margin-top: 0;
}
h1 .fa, h2 .fa, h3 .fa {
  margin-right: 0.25rem;
}

h1 {
  margin-top: 0;
  font-size: 0.8rem;
}

h2 {
  font-size: 0.7rem;
}

h3 {
  font-size: 0.65rem;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Document
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.25rem;
  color: #9DAAB7;
  background: url("../img/noise-dark.png") #3D434B;
  -webkit-hyphens: auto;
  word-break: break-word;
  hyphens: auto;
}

body {
  font-family: "Ruda", "sans-serif";
  font-size: 0.7rem;
  line-height: 1.2rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Main content
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-content {
  flex: 1;
  width: 100%;
  background: #3D434B;
  box-sizing: border-box;
  padding: 0.75rem;
}
#main-content.wide {
  max-width: 90rem;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Width
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-content, .header-content {
  max-width: 50rem;
  margin: 0 auto;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Header
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-header {
  font-size: 0.6rem;
}

#header-text {
  font-size: 0.8rem;
  text-transform: uppercase;
}
#header-desc {
  line-height: 1rem;
}
#header-text, #header-desc {
  text-shadow: 0 -1px #4E718F, 1px 0 #4E718F, 0 1px #4E718F, -1px 0 #4E718F;
  color: #333;
  font-weight: bold;
}
#header-logo {
  display: block;
  max-height: 5rem;
  float: left;
  margin-right: 0.5rem;
}

.header-line {
  padding: 0.25rem 0.75rem;
  overflow: hidden;
  background: #32373E;
}
.header-line + .header-line {
  border: 0.05rem solid #1D232B;
  border-left: none;
  border-right: none;
}
.header-line.background {
  background: #5E819F;
  position: sticky;
  top: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-footer {
  font-size: 0.6rem;
  background: #32373E;
  border-top: 0.05rem solid #1D232B;
  padding: 0.5rem 0.75rem;
  text-align: center;
}
#main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-footer ul li {
  display: inline;
}
#main-footer ul li .fa {
  margin-right: 0.125rem;
}
#main-footer ul li:after {
  content: " – ";
  font-weight: bold;
}
#main-footer ul li:last-child:after {
  content: none;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Main Navigation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-navi ul li {
  display: inline;
}
#main-navi ul li .fa {
  margin-right: 0.25rem;
}
#main-navi ul li:last-child {
  float: right;
}
#main-navi ul li:first-child {
  float: none;
}
#main-navi a {
  padding: 0.1rem 0.3rem;
  background: #2D333B;
  border: 0.05rem solid #1D232B;
  color: inherit;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
#main-navi a:hover, #main-navi a:focus {
  text-decoration: none;
  background: #1D232B;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Site Navigation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#site-navi {
  clear: both;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 0.75rem;
}
#site-navi > div {
  display: flex;
  align-items: center;
  border: 0.05rem solid #1D232B;
  background: #32373E;
}
#site-navi > div > a {
  display: block;
}
#site-navi .disabled {
  pointer-events: none;
  color: #1D232B;
}
#site-navi ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#site-navi ol li {
  float: left;
  display: inline-block;
}
#site-navi ol li + li {
  border-left: 0.05rem solid #1D232B;
}
#site-navi ol li.active a {
  background: #42474E;
  font-weight: 600;
  pointer-events: none;
}
#site-navi a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
#site-navi a:hover, #site-navi a:focus {
  background: #1D232B;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Actions
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.actions {
  margin: 0 0 0.5rem 0;
  padding: 0;
  list-style: none;
  font-size: 0.6rem;
  float: right;
  text-align: center;
}
.actions .fa {
  margin-right: 0.1rem;
}
.actions li {
  display: inline-block;
  font-weight: bold;
  background: #32373E;
  border: 0.05rem solid #1D232B;
}
.actions a {
  color: inherit;
  display: block;
  padding: 0 0.25rem;
  text-decoration: none;
}

.actions-before {
  float: left;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
pre {
  margin-bottom: 1rem;
  overflow: auto;
  -moz-tab-size: 4;
  tab-size: 4;
  background: #32373E;
  padding: 0.5rem;
  border: 0.05rem solid #1D232B;
}

code, pre {
  font-family: "monospace";
}

code {
  color: #FFB830;
}

p {
  margin-top: 0;
}

img {
  border: none;
  max-width: 100%;
}

.warning {
  color: #FFB830;
}

.hidden {
  display: none;
}

.no-visual-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Item Element
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.item {
  display: flex;
  flex-direction: column;
  border: 0.05rem solid #1D232B;
  margin-bottom: 0.75rem;
  clear: both;
}
.item header {
  padding: 0.5rem 0.75rem;
  border-bottom: 0.05rem solid #1D232B;
  position: sticky;
  top: 0;
}
.item header h2 {
  margin-top: 0;
}
.item footer {
  border-top: 0.05rem solid #1D232B;
}
.item footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.item footer ul li {
  display: inline-block;
  float: left;
}
.item footer ul li:last-child {
  float: right;
}
.item footer a {
  color: inherit;
  display: inline-block;
  padding: 0.25rem 2rem;
}
.item footer a:hover, .item footer a:active {
  background: #42474E;
}
.item header, .item footer {
  background: #32373E;
  overflow: hidden;
}
.item blockquote {
  margin: 0;
  padding: 0.75rem;
  overflow: hidden;
  font-family: inherit;
  flex-grow: 1;
}
.item blockquote p {
  margin-bottom: 0;
}
.item-id {
  float: right;
  color: #8D9AA7;
  font-size: 0.7rem;
  font-weight: normal;
}
.item-meta {
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-meta li {
  display: inline-block;
}
.item-meta li + li:before {
  content: " – ";
}
.item-meta li.item-meta-right {
  float: right;
  font-size: 0.6rem;
}
.item-meta li.item-meta-right:before {
  content: none;
}
.item-image {
  float: left;
  display: block;
  margin-right: 0.75rem;
  width: 10rem;
  height: 7rem;
  object-fit: cover;
  background: #32373E;
  border: 0.05rem solid #1D232B;
}
.item-container.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
}
.item-container.grid .item {
  margin-bottom: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Argument list
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.arguments {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0.75rem;
  background: #32373E;
  font-size: 0.6rem;
  text-align: center;
  border-top: 0.05rem solid #1D232B;
}
.arguments li {
  display: inline;
}
.arguments li > code {
  font-family: inherit;
  color: #8D9AA7;
}
.arguments li:after {
  content: " · ";
  font-weight: bold;
}
.arguments li:last-child:after {
  content: none;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Grids
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.form-grid {
  clear: both;
  display: grid;
  grid-template-columns: repeat(2, 7.5rem minmax(0, 1fr));
  border-left: 0.05rem solid #1D232B;
  border-bottom: 0.05rem solid #1D232B;
}
.form-grid.two-columns {
  grid-template-columns: 1fr 2fr;
}
.form-grid.no-bottom-border {
  border-bottom: none;
}
.form-grid > label {
  display: flex;
  align-items: center;
  background: #4D535B;
}
.form-grid > label .fa {
  margin: 0 0.5rem;
}
.form-grid-item,
.form-grid > label {
  padding: 0.5rem;
  border-top: 0.05rem solid #1D232B;
  border-right: 0.05rem solid #1D232B;
}
.form-grid-item.first {
  grid-column: span 3;
}

.form-border-box {
  border: 0.05rem solid #1D232B;
}
.form-border-box.padding {
  padding: 0.5rem;
}
.form-border-box.background {
  background: #4D535B;
}
.form-border-box.nobordertop {
  border-top: none;
}
.form-border-box + .form-border-box {
  border-top: none;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Form buttons
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#emoticon-list-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

#button-list-wrapper {
  border-bottom: 0.05rem solid #1D232B;
  background: #32373E;
  overflow: hidden;
}

.button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-list.emoticons > li {
  font-size: 1.25rem;
  display: inline-block;
  padding: 0.2rem;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.1rem;
  cursor: pointer;
}
.button-list.emoticons > li:hover, .button-list.emoticons > li:active {
  border-bottom: 0.2rem solid #1D232B;
}

.button-list.markdown > li {
  float: left;
  padding: 0.25rem;
  cursor: pointer;
  width: 1.75rem;
  box-sizing: border-box;
  text-align: center;
}
.button-list.markdown > li:hover, .button-list.markdown > li:active {
  color: #CDDAE7;
}

#content-editor {
  border: none;
  margin: 0;
}
#content-editor-wrapper {
  border-top: none;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Form elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
input, select, textarea {
  width: 100%;
  background: #32373E;
  color: #8D9AA7;
  font-family: inherit;
  font-size: 0.7rem;
  padding: 0.25rem;
  border: 0.05rem solid #1D232B;
  box-sizing: border-box;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}

textarea {
  font-family: "Kadwa", "sans-serif";
  box-sizing: border-box;
  display: block;
  resize: vertical;
  min-height: 15rem;
  line-height: 1.2rem;
  padding: 0.5rem;
  -webkit-hyphens: none;
  hyphens: none;
  cursor: auto;
}

input[type=submit] {
  text-transform: uppercase;
  border-radius: 0.1rem;
}

label {
  text-transform: uppercase;
  font-weight: normal;
}
label:after {
  content: ":";
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Form buttons
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#insert-button, #update-button, #delete-button {
  color: #CCC;
  border: 0.05rem solid #404040;
}

#insert-button {
  background: #396644;
}
#insert-button:active, #insert-button:focus {
  background: #27452e;
}

#update-button {
  background: #597186;
}
#update-button:active, #update-button:focus {
  background: #455767;
}

#delete-button {
  background: #8F4F55;
}
#delete-button:active, #delete-button:focus {
  background: #6e3d41;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Form message list
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#message-list {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  background: #8C434A;
  color: #BBB;
  font-size: 0.6rem;
}
#message-list-wrapper {
  clear: both;
  margin-bottom: 0.5rem;
  border: 0.1rem solid #6a3238;
}
#message-list code {
  color: inherit;
  font-weight: bold;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Search form
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#search-form {
  margin-bottom: 1rem;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Import other files
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 90em) {
  .item-container.grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 62.5em) {
  #main-content {
    border: 0.05rem solid #1D232B;
    border-top: none;
    border-bottom: none;
  }
}
@media only screen and (max-width: 62.5em) {
  .item-container.grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 1.125rem;
    /*18px*/
  }
}
@media only screen and (max-width: 37.5em) {
  #main-content {
    padding: 0.5rem;
  }

  #main-navi {
    font-size: 1rem;
  }
  #main-navi ul li span {
    display: none;
  }
  #main-navi ul li .fa {
    margin-right: 0;
  }
  #main-navi a {
    padding: 0.5rem;
  }

  #emoticon-list-wrapper {
    display: none;
  }

  .item-container.grid {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
  }

  .form-grid {
    grid-template-columns: 7rem 1fr;
  }
  .form-grid-item, .form-grid-item.first, .form-grid label {
    grid-column: unset;
  }

  .actions {
    float: none;
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .actions-before {
    float: none;
  }
  .actions li {
    flex-grow: 1;
  }
  .actions li + li {
    border-left: none;
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Fontello
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa:before {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font Awesome icons
# ------------------
# Copyright (C) 2016 by Dave Gandy
# Author: Dave Gandy
# License: SIL
# Homepage: http://fortawesome.github.com/Font-Awesome/
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa-pencil:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-chat:before {
  content: "";
}

.fa-users:before {
  content: "";
}

.fa-cancel:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrows-cw:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-empty:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-ok:before {
  content: "";
}

.fa-info-circled:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-attach:before {
  content: "";
}

.fa-cog:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-floppy:before {
  content: "";
}

.fa-eye-off:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-picture-o:before {
  content: "";
}

.fa-pencil-square-o:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-exclamation-triangle:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-uncheck:before {
  content: "";
}

.fa-link:before {
  content: "";
}

.fa-menu:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-dashboard:before {
  content: "";
}

.fa-comment-empty:before {
  content: "";
}

.fa-chat-empty:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-smile:before {
  content: "";
}

.fa-frown:before {
  content: "";
}

.fa-meh:before {
  content: "";
}

.fa-keyboard:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-attention-alt:before {
  content: "";
}

.fa-sort-name-up:before {
  content: "";
}

.fa-sort-name-down:before {
  content: "";
}

.fa-sort-up:before {
  content: "";
}

.fa-sort-down:before {
  content: "";
}

.fa-sort-number-up:before {
  content: "";
}

.fa-sort-number-down:before {
  content: "";
}

.fa-sun:before {
  content: "";
}

.fa-moon:before {
  content: "";
}

.fa-box:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-archive:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-user-circle-o:before {
  content: "";
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font "Font Awesome" [4.7.0] (by Fontello): SIL Open Font License (OFL)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
  font-family: "Fontello";
  font-weight: 400;
  font-style: normal;
  src: url("../font/fontello.woff2") format("woff2");
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font "Kadwa": SIL Open Font License (OFL)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
  font-family: "Kadwa";
  font-weight: 400;
  src: url("../font/kadwa-n-400.woff2") format("woff2");
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font "Ruda": SIL Open Font License (OFL)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
  font-family: "Ruda";
  font-weight: 400;
  src: url("../font/ruda-n-400.woff2") format("woff2");
}
@font-face {
  font-family: "Ruda";
  font-weight: 700;
  src: url("../font/ruda-n-700.woff2") format("woff2");
}
#theme-toogle-dark {
  display: none;
}
