#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#
# Apache configuration rules                 [Thomas Lange <code@nerdmind.de>] #
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#
#                                                                              #
# This file contains rewrite rules for Apache. It's recommended to include the #
# rules directly into your Apache configuration for a better performance. Also #
# disable the AllowOverride directive within your Apache virtualhost (if it is #
# not already globally disabled for performance and security reasons both).    #
#                                                                              #
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#

#===============================================================================
# Enable RewriteEngine
#===============================================================================
RewriteEngine On

#===============================================================================
# ErrorDocument handler
#===============================================================================
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

#===============================================================================
# Forbidden directories
#===============================================================================
RewriteRule ^(core|template/([^/]+)/(html|lang)/) - [F]

#===============================================================================
# Main rules
#===============================================================================
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L]