@charset "UTF-8";
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Hyperlinks
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a {
  color: #0060A0;
  text-decoration: none; }
  a:focus {
    background: #CCC; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Headings
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600; }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0; }

h1 {
  font-size: 0.80rem; }

h2 {
  font-size: 0.70rem; }

h3 {
  font-size: 0.65rem; }

h4 {
  font-size: 0.60rem; }

h5 {
  font-size: 0.55rem; }

h6 {
  font-size: 0.50rem; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Document
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 1.25rem;
  color: #333;
  background: #CCC;
  -webkit-hyphens: auto;
  hyphens: auto; }

body {
  font-family: "Ruda", "sans-serif";
  font-size: 0.7rem;
  line-height: 1.2rem; }

#container {
  max-width: 45rem;
  margin: 1rem auto;
  border: 0.05rem solid #AAA;
  background: #FFF; }

main, #main-header > div {
  padding: 1rem;
  box-sizing: border-box; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Header
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-header > div {
  overflow: hidden; }

#main-logo {
  height: 1.75rem;
  display: block; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-footer {
  background: #EEE;
  border-top: 0.05rem solid #AAA;
  padding: 0.25rem 1rem;
  text-align: center;
  font-size: 0.6rem; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Main Navigation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-navi {
  font-size: 0.6rem;
  background: #EEE;
  border: 0.05rem solid #AAA;
  border-left: none;
  border-right: none;
  padding: 0 1rem; }
  #main-navi ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #main-navi ul li {
      display: inline; }
      #main-navi ul li:last-child {
        float: right; }
  #main-navi a {
    padding: 0.25rem 0.3rem;
    color: inherit;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 0.05rem solid transparent;
    border-top: none;
    border-bottom: none; }
    #main-navi a:hover, #main-navi a:focus {
      text-decoration: none;
      background: #DDD;
      border: 0.05rem solid #AAA;
      border-top: none;
      border-bottom: none; }

#main-navi li .fa, h1 > .fa, h2 > .fa {
  margin-right: 0.25rem; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Site Navigation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#site-navi {
  clear: both;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between; }
  #site-navi > div {
    display: flex;
    align-items: center;
    border: 0.05rem solid #AAA;
    background: #EEE; }
    #site-navi > div > a {
      display: block; }
  #site-navi > section {
    display: flex;
    overflow: hidden;
    align-items: center; }
    #site-navi > section > div {
      border: 0.05rem solid #AAA;
      background: #EEE; }
  #site-navi .disabled {
    pointer-events: none;
    color: #AAA; }
  #site-navi .active a {
    background: #CCC !important;
    font-weight: 600;
    pointer-events: none; }
  #site-navi ol {
    list-style: none;
    margin: 0;
    padding: 0; }
    #site-navi ol li {
      float: left;
      display: inline-block; }
      #site-navi ol li + li {
        border-left: 0.05rem solid #AAA; }
  #site-navi a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: inherit;
    display: inline-block; }
    #site-navi a:hover, #site-navi a:focus {
      background: #CCC; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
pre {
  font-family: "monospace";
  margin-bottom: 1rem;
  overflow: auto;
  -moz-tab-size: 4;
  tab-size: 4; }

code, pre {
  font-family: "monospace";
  color: #008B45; }

strong, label {
  font-weight: 600; }

img {
  border: none;
  max-width: 100%; }

main img {
  border: 0.05rem solid #000;
  border-radius: 0.15rem; }

table img {
  border: none;
  border-radius: 0; }

.red {
  color: #B03060; }

.head-link {
  font-size: 0.6rem;
  float: right; }
  .head-link .fa {
    margin-right: 0.125rem; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Brackets
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.brackets:before {
  content: "["; }
.brackets:after {
  content: "]"; }
.brackets:before, .brackets:after {
  color: #222; }

.brackets a, a.brackets {
  text-decoration: none; }

a.brackets:before, a.brackets:after {
  color: #222; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Item Element
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.item {
  background: #EEE;
  border: 0.05rem solid #AAA;
  overflow: hidden;
  margin: 0.5rem 0; }
  .item-container {
    clear: both; }
  .item header {
    padding: 0.25rem 1rem;
    overflow: hidden;
    text-transform: uppercase; }
    .item header h2 {
      font-size: 0.65rem;
      float: left; }
    .item header .info {
      float: right;
      font-size: 0.6rem;
      font-weight: 400; }
    .item header a {
      color: inherit; }
  .item blockquote {
    margin: 0;
    padding: 0 1rem;
    font-family: inherit;
    border-top: 0.05rem solid #AAA; }
    .item blockquote img {
      display: block; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Item content on main sites
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#content {
  background: #EEE;
  border: 0.05rem solid #AAA;
  margin: 0.5rem 0;
  padding: 0 1rem; }
  #content img {
    display: block; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Categories
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#category-heading,
#category-posts-heading {
  float: left; }

#category-posts-page {
  float: right;
  font-size: 0.6rem; }

#category-body {
  clear: both; }

.category-list,
.category-heading-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.6rem;
  text-align: center; }
  .category-list li,
  .category-heading-list li {
    display: inline-block; }
    .category-list li + li:before,
    .category-heading-list li + li:before {
      content: ' ➜ '; }
  .category-list a,
  .category-heading-list a {
    text-decoration: underline; }

.category-heading-list {
  text-align: left;
  float: right; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#toogle-nav {
  display: none;
  clear: both; }

#toogle-nav-label {
  display: none;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Form elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
input, select {
  background: #EEE;
  color: inherit;
  padding: 0.2rem;
  border: 0.1rem solid #AAA; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Table elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
table {
  width: 100%;
  margin: 0 0 1rem; }

td {
  vertical-align: middle; }

table, td {
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0.5rem;
  border: 0.05rem solid #000; }

thead, tr:nth-child(even) {
  background: #EEE; }

thead > tr, th {
  font-weight: 600;
  font-style: italic; }

thead > tr > td, th > td {
  text-align: center; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive Level #1
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 50em) {
  html {
    font-size: 1.125rem;
    /*18px*/
    background-image: none !important; }

  body {
    line-height: 1.2rem; }

  #container {
    margin: 0;
    border-right: none;
    border-left: none; } }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive Level #2
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 37.5em) {
  main, #main-header > div {
    padding: 1rem; }

  #main-navi {
    padding: 0.25rem 1rem; }

  #main-navi a {
    border: 0.05rem solid transparent; }

  #main-navi a:hover, #main-navi a:focus {
    border: 0.05rem solid #BBB; }

  #main-navi > ul {
    display: none;
    float: none; }

  #main-navi > ul > li a {
    display: block;
    text-align: left;
    padding: 0 0.25rem; }

  #main-navi {
    overflow: hidden; }

  #toogle-nav-label {
    display: block; }

  #toogle-nav:checked + ul {
    display: block; }

  #main-navi li:last-child {
    float: none; }

  .item > header {
    text-align: center; }

  .item > header > h2,
  .item > header > .info {
    float: none;
    display: block; } }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Fontello
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa:before {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font Awesome icons
# ------------------
# Copyright (C) 2016 by Dave Gandy
# Author: Dave Gandy
# License: SIL
# Homepage: http://fortawesome.github.com/Font-Awesome/
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa-pencil:before {
  content: '\e800'; }

.fa-comment:before {
  content: '\e801'; }

.fa-chat:before {
  content: '\e802'; }

.fa-users:before {
  content: '\e803'; }

.fa-cancel:before {
  content: '\e804'; }

.fa-plus:before {
  content: '\e805'; }

.fa-list:before {
  content: '\e80b'; }

.fa-arrow-down:before {
  content: '\e80e'; }

.fa-arrow-up:before {
  content: '\e811'; }

.fa-arrows-cw:before {
  content: '\e813'; }

.fa-tag:before {
  content: '\e815'; }

.fa-tags:before {
  content: '\e816'; }

.fa-star:before {
  content: '\e817'; }

.fa-star-empty:before {
  content: '\e818'; }

.fa-eye:before {
  content: '\e81a'; }

.fa-ok:before {
  content: '\e81b'; }

.fa-info-circled:before {
  content: '\e81c'; }

.fa-home:before {
  content: '\e81d'; }

.fa-attach:before {
  content: '\e81e'; }

.fa-cog:before {
  content: '\e81f'; }

.fa-check:before {
  content: '\e821'; }

.fa-floppy:before {
  content: '\e822'; }

.fa-eye-off:before {
  content: '\e823'; }

.fa-folder-open:before {
  content: '\e824'; }

.fa-wrench:before {
  content: '\e825'; }

.fa-search:before {
  content: '\f002'; }

.fa-envelope-o:before {
  content: '\f003'; }

.fa-user:before {
  content: '\f007'; }

.fa-trash-o:before {
  content: '\f014'; }

.fa-clock-o:before {
  content: '\f017'; }

.fa-book:before {
  content: '\f02d'; }

.fa-bold:before {
  content: '\f032'; }

.fa-italic:before {
  content: '\f033'; }

.fa-picture-o:before {
  content: '\f03e'; }

.fa-pencil-square-o:before {
  content: '\f044'; }

.fa-arrow-left:before {
  content: '\f060'; }

.fa-arrow-right:before {
  content: '\f061'; }

.fa-exclamation-triangle:before {
  content: '\f071'; }

.fa-key:before {
  content: '\f084'; }

.fa-sign-out:before {
  content: '\f08b'; }

.fa-external-link:before {
  content: '\f08e'; }

.fa-sign-in:before {
  content: '\f090'; }

.fa-github-square:before {
  content: '\f092'; }

.fa-uncheck:before {
  content: '\f096'; }

.fa-rss:before {
  content: '\f09e'; }

.fa-link:before {
  content: '\f0c1'; }

.fa-menu:before {
  content: '\f0c9'; }

.fa-list-ul:before {
  content: '\f0ca'; }

.fa-list-ol:before {
  content: '\f0cb'; }

.fa-dashboard:before {
  content: '\f0e4'; }

.fa-comment-empty:before {
  content: '\f0e5'; }

.fa-chat-empty:before {
  content: '\f0e6'; }

.fa-file-text-o:before {
  content: '\f0f6'; }

.fa-quote-left:before {
  content: '\f10d'; }

.fa-quote-right:before {
  content: '\f10e'; }

.fa-smile:before {
  content: '\f118'; }

.fa-frown:before {
  content: '\f119'; }

.fa-meh:before {
  content: '\f11a'; }

.fa-keyboard:before {
  content: '\f11c'; }

.fa-code:before {
  content: '\f121'; }

.fa-attention-alt:before {
  content: '\f12a'; }

.fa-rss-squared:before {
  content: '\f143'; }

.fa-sort-name-up:before {
  content: '\f15d'; }

.fa-sort-name-down:before {
  content: '\f15e'; }

.fa-sort-up:before {
  content: '\f160'; }

.fa-sort-down:before {
  content: '\f161'; }

.fa-sort-number-up:before {
  content: '\f162'; }

.fa-sort-number-down:before {
  content: '\f163'; }

.fa-sun:before {
  content: '\f185'; }

.fa-moon:before {
  content: '\f186'; }

.fa-box:before {
  content: '\f187'; }

.fa-bug:before {
  content: '\f188'; }

.fa-plus-squared-alt:before {
  content: '\f196'; }

.fa-language:before {
  content: '\f1ab'; }

.fa-database:before {
  content: '\f1c0'; }

.fa-file-archive:before {
  content: '\f1c6'; }

.fa-header:before {
  content: '\f1dc'; }

.fa-newspaper-o:before {
  content: '\f1ea'; }

.fa-at:before {
  content: '\f1fa'; }

.fa-toggle-off:before {
  content: '\f204'; }

.fa-toggle-on:before {
  content: '\f205'; }

.fa-user-secret:before {
  content: '\f21b'; }

.fa-server:before {
  content: '\f233'; }

.fa-commenting:before {
  content: '\f27a'; }

.fa-commenting-o:before {
  content: '\f27b'; }

.fa-user-circle-o:before {
  content: '\f2be'; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font "Font Awesome" [4.7.0] (by Fontello): SIL Open Font License (OFL)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
  font-family: "Fontello";
  font-weight: 400;
  font-style: normal;
  src: url("../font/fontello.woff2") format("woff2"); }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font "Ruda": SIL Open Font License (OFL)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
  font-family: "Ruda";
  font-weight: 400;
  src: url("../font/ruda-n-400.woff2") format("woff2"); }
@font-face {
  font-family: "Ruda";
  font-weight: 700;
  src: url("../font/ruda-n-700.woff2") format("woff2"); }
