@charset "UTF-8";
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Hyperlinks
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a {
  color: #0060A0;
  text-decoration: none;
}
a:focus {
  background: #CCC;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Headings
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

h1 {
  font-size: 0.8rem;
}

h2 {
  font-size: 0.7rem;
}

h3 {
  font-size: 0.65rem;
}

h4 {
  font-size: 0.6rem;
}

h5 {
  font-size: 0.55rem;
}

h6 {
  font-size: 0.5rem;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Document
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.25rem;
  color: #333;
  background: #CCC;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  font-family: "Ruda", "sans-serif";
  font-size: 0.7rem;
  line-height: 1.2rem;
}

#container {
  max-width: 45rem;
  margin: 1rem auto;
  border: 0.05rem solid #AAA;
  background: #FFF;
}

main, #main-header > div {
  padding: 1rem;
  box-sizing: border-box;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Header
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-header > div {
  overflow: hidden;
}

#main-logo {
  height: 1.75rem;
  display: block;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-footer {
  background: #EEE;
  border-top: 0.05rem solid #AAA;
  padding: 0.25rem 1rem;
  text-align: center;
  font-size: 0.6rem;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Main Navigation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-navi {
  font-size: 0.6rem;
  background: #EEE;
  border: 0.05rem solid #AAA;
  border-left: none;
  border-right: none;
  padding: 0 1rem;
}
#main-navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-navi ul li {
  display: inline;
}
#main-navi ul li:last-child {
  float: right;
}
#main-navi a {
  padding: 0.25rem 0.3rem;
  color: inherit;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: 0.05rem solid transparent;
  border-top: none;
  border-bottom: none;
}
#main-navi a:hover, #main-navi a:focus {
  text-decoration: none;
  background: #DDD;
  border: 0.05rem solid #AAA;
  border-top: none;
  border-bottom: none;
}

#main-navi li .fa, h1 > .fa, h2 > .fa {
  margin-right: 0.25rem;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Site Navigation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#site-navi {
  clear: both;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
#site-navi > div {
  display: flex;
  align-items: center;
  border: 0.05rem solid #AAA;
  background: #EEE;
}
#site-navi > div > a {
  display: block;
}
#site-navi > section {
  display: flex;
  overflow: hidden;
  align-items: center;
}
#site-navi > section > div {
  border: 0.05rem solid #AAA;
  background: #EEE;
}
#site-navi .disabled {
  pointer-events: none;
  color: #AAA;
}
#site-navi .active a {
  background: #CCC !important;
  font-weight: 600;
  pointer-events: none;
}
#site-navi ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#site-navi ol li {
  float: left;
  display: inline-block;
}
#site-navi ol li + li {
  border-left: 0.05rem solid #AAA;
}
#site-navi a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
#site-navi a:hover, #site-navi a:focus {
  background: #CCC;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
pre {
  font-family: "monospace";
  margin-bottom: 1rem;
  overflow: auto;
  -moz-tab-size: 4;
  tab-size: 4;
}

code, pre {
  font-family: "monospace";
  color: #008B45;
}

strong, label {
  font-weight: 600;
}

img {
  border: none;
  max-width: 100%;
}

main img {
  border: 0.05rem solid #000;
  border-radius: 0.15rem;
}

table img {
  border: none;
  border-radius: 0;
}

.red {
  color: #B03060;
}

.head-link {
  font-size: 0.6rem;
  float: right;
}
.head-link .fa {
  margin-right: 0.125rem;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Brackets
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.brackets:before {
  content: "[";
}
.brackets:after {
  content: "]";
}
.brackets:before, .brackets:after {
  color: #222;
}

.brackets a, a.brackets {
  text-decoration: none;
}

a.brackets:before, a.brackets:after {
  color: #222;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Item Element
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.item {
  background: #EEE;
  border: 0.05rem solid #AAA;
  overflow: hidden;
  margin: 0.5rem 0;
}
.item-container {
  clear: both;
}
.item header {
  padding: 0.25rem 1rem;
  overflow: hidden;
  text-transform: uppercase;
}
.item header h2 {
  font-size: 0.65rem;
  float: left;
}
.item header .info {
  float: right;
  font-size: 0.6rem;
  font-weight: 400;
}
.item header a {
  color: inherit;
}
.item blockquote {
  margin: 0;
  padding: 0 1rem;
  font-family: inherit;
  border-top: 0.05rem solid #AAA;
}
.item blockquote img {
  display: block;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Item content on main sites
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#content {
  background: #EEE;
  border: 0.05rem solid #AAA;
  margin: 0.5rem 0;
  padding: 0 1rem;
}
#content img {
  display: block;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Category list
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#category-heading,
#category-posts-heading {
  float: left;
}

#category-posts-page {
  float: right;
  font-size: 0.6rem;
}

#category-body {
  clear: both;
}

.category-list,
.category-heading-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.6rem;
  text-align: center;
}
.category-list li,
.category-heading-list li {
  display: inline-block;
}
.category-list li + li:before,
.category-heading-list li + li:before {
  content: " ➜ ";
}
.category-list a,
.category-heading-list a {
  text-decoration: underline;
}

.category-heading-list {
  text-align: left;
  float: right;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#toogle-nav {
  display: none;
  clear: both;
}

#toogle-nav-label {
  display: none;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Form elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
input, select {
  background: #EEE;
  color: inherit;
  padding: 0.2rem;
  border: 0.1rem solid #AAA;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Table elements
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
table {
  width: 100%;
  margin: 0 0 1rem;
}

td {
  vertical-align: middle;
}

table, td {
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0.5rem;
  border: 0.05rem solid #000;
}

thead, tr:nth-child(even) {
  background: #EEE;
}

thead > tr, th {
  font-weight: 600;
  font-style: italic;
}

thead > tr > td, th > td {
  text-align: center;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive Level #1
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 50em) {
  html {
    font-size: 1.125rem;
    /*18px*/
    background-image: none !important;
  }

  body {
    line-height: 1.2rem;
  }

  #container {
    margin: 0;
    border-right: none;
    border-left: none;
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Responsive Level #2
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 37.5em) {
  main, #main-header > div {
    padding: 1rem;
  }

  #main-navi {
    padding: 0.25rem 1rem;
  }

  #main-navi a {
    border: 0.05rem solid transparent;
  }

  #main-navi a:hover, #main-navi a:focus {
    border: 0.05rem solid #BBB;
  }

  #main-navi > ul {
    display: none;
    float: none;
  }

  #main-navi > ul > li a {
    display: block;
    text-align: left;
    padding: 0 0.25rem;
  }

  #main-navi {
    overflow: hidden;
  }

  #toogle-nav-label {
    display: block;
  }

  #toogle-nav:checked + ul {
    display: block;
  }

  #main-navi li:last-child {
    float: none;
  }

  .item > header {
    text-align: center;
  }

  .item > header > h2,
.item > header > .info {
    float: none;
    display: block;
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Fontello
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa:before {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font Awesome icons
# ------------------
# Copyright (C) 2016 by Dave Gandy
# Author: Dave Gandy
# License: SIL
# Homepage: http://fortawesome.github.com/Font-Awesome/
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa-pencil:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-chat:before {
  content: "";
}

.fa-users:before {
  content: "";
}

.fa-cancel:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrows-cw:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-empty:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-ok:before {
  content: "";
}

.fa-info-circled:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-attach:before {
  content: "";
}

.fa-cog:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-floppy:before {
  content: "";
}

.fa-eye-off:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-picture-o:before {
  content: "";
}

.fa-pencil-square-o:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-exclamation-triangle:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-uncheck:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-link:before {
  content: "";
}

.fa-menu:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-dashboard:before {
  content: "";
}

.fa-comment-empty:before {
  content: "";
}

.fa-chat-empty:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-smile:before {
  content: "";
}

.fa-frown:before {
  content: "";
}

.fa-meh:before {
  content: "";
}

.fa-keyboard:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-attention-alt:before {
  content: "";
}

.fa-rss-squared:before {
  content: "";
}

.fa-sort-name-up:before {
  content: "";
}

.fa-sort-name-down:before {
  content: "";
}

.fa-sort-up:before {
  content: "";
}

.fa-sort-down:before {
  content: "";
}

.fa-sort-number-up:before {
  content: "";
}

.fa-sort-number-down:before {
  content: "";
}

.fa-sun:before {
  content: "";
}

.fa-moon:before {
  content: "";
}

.fa-box:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-plus-squared-alt:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-archive:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-user-circle-o:before {
  content: "";
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font "Font Awesome" [4.7.0] (by Fontello): SIL Open Font License (OFL)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
  font-family: "Fontello";
  font-weight: 400;
  font-style: normal;
  src: url("../font/fontello.woff2") format("woff2");
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font "Ruda": SIL Open Font License (OFL)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
  font-family: "Ruda";
  font-weight: 400;
  src: url("../font/ruda-n-400.woff2") format("woff2");
}
@font-face {
  font-family: "Ruda";
  font-weight: 700;
  src: url("../font/ruda-n-700.woff2") format("woff2");
}
