/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Line height
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
$lineHeight: 1.2rem;

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Font families
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
$fontFamily: "Ruda", "sans-serif";
$fontFamilyTextarea: "Kadwa", "sans-serif";
$fontFamilyMonospaced: "monospace";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Text font sizes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
$fontSize: 0.7rem;
$fontSizeSmall: $fontSize - 0.1rem;
$fontSizeLarge: $fontSize + 0.1rem;

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Heading font sizes
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
$fontSizeH1: 0.80rem;
$fontSizeH2: 0.70rem;
$fontSizeH3: 0.65rem;

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Content widths
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
$contentWidth: 50rem;
$contentWidthWide: 90rem;
