/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Selection
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
::-moz-selection{background:#BBB;color:#000;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Hyperlinks
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a{color:#0060A0;text-decoration:none;}a:focus{background:#CCC;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Paragraphs
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p{margin-top:0;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Icons
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h1 .fa, h2 .fa, h3 .fa, h4 .fa, h5 .fa, h6 .fa{margin-right:0.25rem;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Headings
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
h1 > a{float:right;font-size:0.7rem;font-weight:normal;}
h1,h2,h3,h4,h5,h6{margin:0;text-transform:uppercase;}
h1{font-size:0.80rem;}h2{font-size:0.70rem;}
h3{font-size:0.65rem;}h4{font-size:0.60rem;}
h5{font-size:0.55rem;}h6{font-size:0.50rem;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Document
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html,body{margin:0;padding:0;}
main{padding:1rem;}
html{font-size:1.25rem;color:#333;background:url(background.png) fixed center #CCC;-webkit-hyphens:auto;hyphens:auto;}
body{font-family:Ruda,sans-serif;font-size:0.7rem;line-height:1.2rem;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Main content
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-content{background:#FFF;border:0.05rem solid #AAA;border-top:none;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Width
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-content,.header-content{max-width:50rem;margin:0 auto;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Header
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-header{font-size:0.6rem;}
#header-text,#header-desc{text-shadow: 0 -1px #4E718F, 1px 0 #4E718F, 0 1px #4E718F, -1px 0 #4E718F;}
#header-text{font-size:0.8rem;font-weight:700;text-transform:uppercase;}
#header-desc{font-size:0.6rem;font-weight:700;line-height:1rem;}
#header-desc span{color:#CCC;}
#header-logo{display:block;max-height:5rem;float:left;margin-right:0.5rem;}
.header-line{padding:0.5rem 1rem;overflow:hidden;}
.header-line:first-child{background:#5E819F;}
.header-line:last-child{background:#EEE;border:0.05rem solid #AAA;border-left:none;border-right:none;padding:0.25rem 1rem;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Footer
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-footer{font-size:0.6rem;background:#EEE;border-top:0.05rem solid #AAA;padding:0.5rem 0.75rem;text-align:center;}
#main-footer > ul{margin:0;padding:0;list-style:none;}
#main-footer > ul > li{display:inline;}
#main-footer > ul > li .fa{margin-right:0.125rem;}
#main-footer > ul > li:before{content:"[";font-weight:700;margin-right:0.1rem;}
#main-footer > ul > li:after{content:"]";font-weight:700;margin-left:0.1rem;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Main Navigation
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-navi ul{list-style:none;margin:0;padding:0;float:left;}
#main-navi li{display:inline;}
#main-navi ul+ul{float:right;}
#main-navi li .fa{margin-right:0.25rem;}
#main-navi a{padding:0.1rem 0.3rem;background:#DDD;border:0.05rem solid #AAA;color:inherit;text-decoration:none;text-align:center;display:inline-block;}
#main-navi a:hover, #main-navi a:focus{text-decoration:none;background:#CCC;}
#main-navi a:focus{background:#CCC;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Site Navigation
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#site-navi{clear:both;display:flex;box-sizing:border-box;justify-content:space-between;}
#site-navi > div{display:flex;align-items:center;border:0.05rem solid #AAA;background:#EEE;}
#site-navi > div > a{display:block;}
#site-navi > section{display:flex;overflow:hidden;align-items:center;}
#site-navi > section > div{border:0.05rem solid #AAA;background:#EEE;}

#site-navi .disabled{pointer-events:none;color:#AAA;}
#site-navi .active a{background:#CCC !important;font-weight:600;pointer-events: none;}

#site-navi ol{list-style:none;margin:0;padding:0;}
#site-navi li{float:left;display:inline-block;}
#site-navi li+li{border-left:0.05rem solid #AAA;}
#site-navi a{padding:0 0.5rem;text-decoration:none;color:inherit;display:inline-block;}
#site-navi a:hover,#site-navi a:focus{background:#CCC;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Elements
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
pre{margin-bottom:1rem;overflow:auto;-moz-tab-size:4;tab-size:4;}
code,pre{font-family:monospace;color:#B03060;}
p{margin-top:0;}
img{border:none;max-width:100%;}
.red{color:#B03060;}
.blue{color:#40779A;}
.green{color:#008B45;}
.right{float:right;}
#database-result{color:inherit;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Table elements
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
table{width:100%;margin:0 0 1rem;}td{vertical-align:middle;}
table,td{border-spacing:0;border-collapse:collapse;padding:0.5rem;border:0.05rem solid #000;}
thead,tr:nth-child(even){background:#EEE;}
thead > tr, th{font-weight:700;font-style:italic;}
thead > tr > td, th > td{text-align:center;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Brackets
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.brackets a,a.brackets{text-decoration:none;}
.brackets:after{content:"]";}
.brackets:before{content:"[";}
a.brackets:before,a.brackets:after{color:#222;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Item List <ul>
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.item-list{list-style:none;margin:0;padding:0;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Item List <li>
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.item-list-li{display:block;border:0.05rem solid #AAA;margin-bottom:1rem;clear:both;}
.item-list-li > header{padding:0.5rem 1rem;}
.item-list-li > header,
.item-list-li > footer{background:#EEE;overflow:hidden;}
.item-list-li > blockquote{margin:0;padding:1rem;font-family:inherit;}
.item-list-li > header{border-bottom:0.05rem solid #AAA;}
.item-list-li > footer{border-top:0.05rem solid #AAA;}
.item-list-li > footer > ul{margin:0;padding:0;list-style:none;}
.item-list-li > footer > ul > li{display:inline-block;float:left;}
.item-list-li > footer > ul > li:last-child{float:right;}
.item-list-li > footer > ul > li > a{color:inherit;display:inline-block;padding:0.25rem 2rem;}
.item-list-li > footer > ul > li > a:hover,
.item-list-li > footer > ul > li > a:active{background:#DDD;}
.item-list-li h2 > span{float:right;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Argument list
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.arguments{list-style:none;margin:0;padding:0.25rem 1rem;background:#EEE;font-size:0.6rem;text-align:center;border-top:0.05rem solid #AAA;}
.arguments > li{display:inline;}
.arguments > li:before{content:"[";font-weight:700;margin-right:0.1rem;}
.arguments > li:after{content:"]";font-weight:700;margin-left:0.1rem;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Form flex-box
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
form{border:0.05rem solid #AAA;}

.flex{display:flex;width:100%;justify-content:center;overflow:hidden;box-sizing:border-box;}
.flex + section{border-top:0.05rem solid #AAA;}
.flex > section {display:flex;box-sizing:padding-box;width:100%;}
.flex > section{border-right:0.05rem solid #AAA;}
.flex > section:last-child{border-right:none;}
.flex > section > div{display:flex;align-items:center;padding:0.5rem;box-sizing:border-box;}
.flex > section > div + div{border-left:0.05rem solid #AAA;}
.flex.flex-responsive > section{width:50%;}

.form-icon-flex{background:#DDD;width:10%;justify-content:center;}
.form-label-flex{background:#DDD;width:30%;border-left:none !important;}
.form-field-flex{width:60%;}

.fa + label{margin-left:0.25rem;}
.background{background:#DDD;}
.flex-padding{padding:0.5rem;}
.flex-direction-column{flex-direction:column;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Form buttons
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.button-list {margin:0;padding:0;list-style:none;}
.button-list > li{display:inline-block;background:#EEE;padding:0.5rem;border:0.05rem solid #AAA;cursor:pointer;}
.button-list.emoticons > li {padding:0.25rem 0.5rem;}
.button-list > li:hover,
.button-list > li:active{background:#CCC;}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Form elements
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
input,select,textarea{width:100%;box-sizing:padding-box;background:#EEE;color:#404040;font-family:inherit;font-size:0.7rem;padding:0.25rem;border:0.05rem solid #AAA;}
textarea{font-family:Kadwa,sans-serif;box-sizing:border-box;display:inline-block;resize:vertical;min-height:15rem;line-height:1.4rem;padding:0.75rem;}
input[type="submit"]{text-transform:uppercase;}
input:disabled{background:#DDD;color:#888;}
input:disabled:hover{cursor:not-allowed;}
label{text-transform:uppercase;font-weight:normal;}
label:after{content:":";}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* FontAwesome Main
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa{display:inline-block;font:normal normal normal 14px/1 "FontAwesome";font-size:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* FontAwesome Icons
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa-rss:before{content:"\f09e"}
.fa-bug:before{content:"\f188"}
.fa-key:before{content:"\f084"}
.fa-link:before{content:"\f0c1"}
.fa-bold:before{content:"\f032"}
.fa-code:before{content:"\f121"}
.fa-bars:before{content:"\f0c9"}
.fa-user:before{content:"\f007"}
.fa-home:before{content:"\f015"}
.fa-plus:before{content:"\f067"}
.fa-book:before{content:"\f02d"}
.fa-italic:before{content:"\f033"}
.fa-header:before{content:"\f1dc"}
.fa-search:before{content:"\f002"}
.fa-trash-o:before{content:"\f014"}
.fa-sign-in:before{content:"\f090"}
.fa-clock-o:before{content:"\f017"}
.fa-list-ul:before{content:"\f0ca"}
.fa-list-ol:before{content:"\f0cb"}
.fa-smile-o:before{content:"\f118"}
.fa-database:before{content:"\f1c0"}
.fa-sign-out:before{content:"\f08b"}
.fa-dashboard:before{content:"\f0e4"}
.fa-picture-o:before{content:"\f03e"}
.fa-envelope-o:before{content:"\f003"}
.fa-eyedropper:before{content:"\f1fb"}
.fa-rss-square:before{content:"\f143"}
.fa-arrow-left:before{content:"\f060"}
.fa-quote-right:before{content:"\f10e"}
.fa-user-secret:before{content:"\f21b"}
.fa-file-text-o:before{content:"\f0f6"}
.fa-newspaper-o:before{content:"\f1ea"}
.fa-arrow-right:before{content:"\f061"}
.fa-external-link:before{content:"\f08e"}
.fa-github-square:before{content:"\f092"}
.fa-pencil-square-o:before{content:"\f044"}
.fa-question-circle:before{content:"\f059"}
.fa-pencil-square-o:before{content:"\f044"}
.fa-exclamation-triangle:before{content:"\f071"}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Responsive Level #1
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width:50rem) {
	html{font-size:1.125rem;/*18px*/background-image:none !important;}
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Responsive Level #2
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width:37.5rem) {
	.flex.flex-responsive{display:block;width:auto;}
	.flex.flex-responsive > section {width:100%;}
	.flex.flex-responsive > section + section{border-top:0.05rem solid #AAA;}

	#main-navi{font-size:1rem;}
	#main-navi li span{display:none;}
	#main-navi li .fa{margin-right:0;}
	#main-navi a{padding:0.5rem;}

	.flex-emoticons{display:none !important;}
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Font "Font Awesome" [4.7.0]: SIL Open Font License (OFL)
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face{font-family:"FontAwesome";font-weight:400;src:url("font/font-awesome.woff2") format("woff2");}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Font "Kadwa": SIL Open Font License (OFL)
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face{font-family:Kadwa;font-weight:400;src:url("font/kadwa-n-400.woff2") format("woff2");}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Font "Ruda": SIL Open Font License (OFL)
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face{font-family:Ruda;font-weight:400;src:url("font/ruda-n-400.woff2") format("woff2");}
@font-face{font-family:Ruda;font-weight:700;src:url("font/ruda-n-700.woff2") format("woff2");}